body {
  margin: 0px;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../img/cork.png");
}

nav {
  background-color: #eee; 
  color: green;
}

.app-description {
  background-color: #eee;
  border-radius: 20px;
  font-size: 20px;
}

.navbar-toggler {
  border: 2px solid #eee;
}

.navbar-toggler:focus {
  outline: none;
  border: 2px solid #bbb;
}